<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/global.css" />
    <title>HBO</title>
  </head>
  <body>
    <img src="/img/movies/default.jpg" alt="vascvas" />
    <h1><%= naslov %></h1>
    <h4><%= status %></h4>
    <h2><%= kategorija %></h2>
    <p><%= test.ime %></p>
    <% if (movies.length === 0) { %>
    <p>No movies found.</p>
    <!--so forEach dinamicki kje go prikazime celiot movie array -->
    <% } else {%> <% movies.forEach(movie =>{%>
    <div class="film">
      <a href="/viewMovies/<%=movie._id%>">
        <h2 class="film-title"><%= movie.title %></h2></a
      >
      <img src="/img/movies/<% movie.slika%>" alt="">
      <p><%= movie.year %></p>
      <div class="film-rating">
        <p>Rating: <%= movie.imdbRating %></p>
      </div>
      <!-- <form action="/deleteMovie/<%= movie._id %>" method="POST">
        <button type="submit" name="deleteMovie">Delete movie</button>
      </form> -->
      <a href="/deleteMovie/<%= movie._id %>">Delete movie</a>
    </div>
    <%}); %> <% } %>

    <form action="/createMovie" method="POST">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" />
      <label for="year">Year:</label>
      <input type="number" id="year" name="year" />
      <label for="imdbRating">ImdbRating::</label>
      <input type="number" id="imdbRating" name="imdbRating" />
      <button class="film-button" type="submit" name="createMovie">
        Vnesi nov film
      </button>
    </form>
  </body>
</html>
